# If running Ubuntu, put this in:
#   /lib/systemd/system/
#
# And run:
#   sudo systemctl daemon-reload
#   sudo systemctl start beo4kodi
#   sudo systemctl enable beo4kodi
#
[Unit]
Description=Beo4 for Kodi
After=multi-user.target

[Service]
Environment=
WorkingDirectory=/usr/local/bin
Type=idle
ExecStart=/usr/bin/python /usr/local/bin/beo4kodi.py
Restart=always

[Install]
WantedBy=multi-user.target
